profiles/Single_Configs/ffghh.csv
profiles/Single_Configs/asd.xlsx
profiles/Single_Configs/new.csv
profiles/Full_Configs/newsave.csv
gui/widgets/py_scroll_area/__pycache__/style.cpython-310.pyc
gui/uis/pages/__pycache__/ui_main_pages.cpython-310.pyc
gui/uis/windows/main_window/__pycache__/setup_main_window.cpython-310.pyc
gui/widgets/__pycache__/__init__.cpython-310.pyc
gui/widgets/py_line_edit/__pycache__/py_line_edit.cpython-310.pyc
gui/widgets/py_scroll_area/__pycache__/__init__.cpython-310.pyc
gui/widgets/py_scroll_area/__pycache__/py_scroll_area.cpython-310.pyc
gui/widgets/py_line_edit/__pycache__/py_line_edit.cpython-310.pyc
gui/widgets/__pycache__/__init__.cpython-310.pyc
gui/uis/pages/__pycache__/ui_main_pages.cpython-310.pyc
gui/widgets/py_line_edit/__pycache__/py_line_edit.cpython-310.pyc
gui/widgets/py_line_edit/__pycache__/py_line_edit.cpython-310.pyc
